{% extends "layout.html" %}

{% block content %}



<div class="list-section">
<legend class="border-bottom mb-4">About this Website</legend>
    <h4> This website is a specially designed LMS (Learner Management System)</h4>
    <br>
    <h5> Features include:</h5>
    <ul>
    <li>Weekly Team Maker</li>
    <li>Online Notes</li>    
    <li>Participation Activities</li>
    <li>Speaking/Writing Assignments</li>
    <li>Attendance and Grade Recording</li>   
    </ul> 
  
  </div>


  





{% endblock content %}
