{% extends "layout.html" %}

{% block content %}



<div class="list-section">
<legend class="border-bottom mb-4">About this Website</legend>
    <h4> This website is a specially designed LMS (Learner Management System)</h4>
    <br>
    <h5> Features include:</h5>
    <ul>
    <li>Weekly Team Maker</li>
    <li>Online Notes</li> 
    <li>Writing Assignment Projects</li>
    <li>Attendance and Grade Recording</li>   
    </ul> 
  
  </div>


<div class="content-section">
<legend class="border-bottom mb-4">About this Course</legend>     


  <div class="embed-responsive embed-responsive-4by3">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQOJz3zdRjLnbK_fSqbe2zTCRlBPl6X0RGDj7SFM4U6RRipTbFSzNRgaVJu_NRAOI5N4wxaMe-cD9LV/embed"></iframe>
        </div> 
  <br> 
    
  </div>





{% endblock content %}
