{% extends "layout.html" %}

{% block content %}

<div class="list-section"> 
    <legend class="border-bottom mb-4">Controls</legend>   

<button class="btn btn-outline-secondary"><a href="{{ url_for ('students')}}", target="_blank">Students</a></button>
<button class="btn btn-outline-secondary"><a href="{{ url_for ('att_log')}}", target="_blank">Att_Log</a></button>
<button class="btn btn-outline-secondary"><a href="{{ url_for ('teams') }}", target="_blank">Teams</a></button>




</div>

<div class="list-section"> 
    <legend class="border-bottom mb-4">Attendance Set Up</legend>       

<a href="../admin/attendance">Attendance</a>


    <form method="POST" action=""> 
            {{ form.hidden_tag () }}        
        <fieldset class="form-group">
        
        
        
            <div class="form-group"> 
                {{ form.username.label (class="form-control-label", style="color:white")}}</br>                    
                {{ form.username(class="form-control form-control-lg")}}                 
            </div>

            <div class="form-group"> 
                {{ form.studentID.label (class="form-control-label" , style="color:white")}}</br>
                {{ form.studentID(class="form-control form-control-lg")}}                     
            </div>

            <div class="form-group"> 
                {{ form.attend.label (class="form-control-label" , style="color:white")}}</br>
                {{ form.attend(class="form-control form-control-lg")}}                     
            </div> 

            Current Status: {{status}}

            <div class="form-group"> 
                {{ form.teamnumber.label (class="form-control-label" , style="color:white")}}</br>
                {{ form.teamnumber(class="form-control form-control-lg")}}                     
            </div>               

            
            <div class="form-group"> 
                {{ form.teamsize.label (class="form-control-label" , style="color:white")}}</br>
                {{ form.teamsize(class="form-control form-control-lg")}}                     
            </div>  

            <div class="form-group"> 
                {{ form.teamcount.label (class="form-control-label" , style="color:white")}}</br>
                {{ form.teamcount(class="form-control form-control-lg")}}                     
            </div> 

            <div class="form-group"> 
                {{ form.unit.label (class="form-control-label" , style="color:white")}}</br>
                {{ form.unit(class="form-control form-control-lg")}}                     
            </div>    


        </fieldset> 
        <div class="form-group">
                {{ form.submit(class="btn btn-outline-secondary" , style="color:white")}}
        </div>
    </form>
</div>



{% endblock content %}