{% extends "layout.html" %}

{% block content %}

<span id="topics" style="display:none">{{topJS}}</span>

<div id="vue-app"> 

<div class="list-section">    
    <legend class="border-bottom mb-4">Topic List</legend>   
    
    <table class="table table-sm" style="color:white">
        <thead>
            <tr>
              <th scope="col" style="">Topic/ <br> Deadline</th>
              <th scope="col" style="">Title/ <br> Progress</th>              
            </tr>
        </thead>

    <div>      
    
        <tbody>
            <template v-for="(topic, key) in topOBJ"  :key="key" > 
            <tr @click="goTo(key)">
              <td> [[  key  ]] </td> 
              <td> [[  topic['Title']  ]] </td>     
            </tr>  
            <tr>
              <td> [[  topic['Deadline']  ]] </td>  
              <td> <div :style="barStyle(topic['Theme'], topic['Stage'])"></div> [[  topic['Stage']  ]] </td>  
              </tr>  
            </template>     
        </tbody>
 
    </div id="end vue for">   
    </table>  

</div>   
   

</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}   

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script type="text/javascript" src="{{url_for('static', filename= 'js/topic_list.js')}}"></script>  
{% endblock %} 